* {
    box-sizing: border-box;
    /* at padding og border bliver integreret i elementets samlede bredde og højde på hele siden, nemmer at arbejde med */
    margin: 0px;
    padding: 0px;
}

body    {
    overflow-x:hidden;
}

h1 {
    color: #210700;
    font-family: Merriweather;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: #210700;
    font-family: Merriweather;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: #210700;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #210700;
    font-family: Inter;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem; /* 140% */
}

a {
    text-decoration: none;
    color: #210700;;
}

ul {
    list-style-type: none;
}


button {
    width: 102px;
    height: 30.108px;
    border-radius: 33px;
    background: #72483C;
    border: 0px;
    color: #210700;
    font-family: Inter;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem;
    color: #FFFCF8;
    font-weight: 900;
}

button:hover {
    background-color: #C39B7F;
}

/* Header */
.top__logo__img {
    width: 6.6875rem;
    height: 1.9375rem;
    margin-top: 8px;
}

.header__top__logo {
    display: flex;
    justify-content: center;
}

.header__top {
    background: #84917F;
    width: 100%;
    height: 48px; 
    display: flex;
    justify-content: space-between;
}

.header__desktop {
    display: none;
}

.header__mobil__bottom {
    width: 100%;
    height: 15px;
    background: #D9C4B0;
}

.desktop__ikoner__kurv {
    width: 30px;
    height: 15px;
    margin: 8px 20px 5px 10px;
}

.desktop__kurv__img {
    width: 100%;
}

.header__mobil__ikoner {
    display: flex;
}

#soegefeltButton {
    background-color: transparent;
    z-index: 10;
    width: 30px;
    height: 15px;
    border-radius: 0px;
}

.soegefeltBillede {
    width: 100%;
    margin: 8px 20px 0px 0px;
}


#lukKnap {
    background-color: transparent;
    position: absolute;
    z-index: 100;
    border-radius: 0px;
    color: #210700;
    margin: 0% 80%;
}

#indputFelt {
    position: absolute;
    border: #210700;
    width: 100%;
    z-index: 10;
    background-color: #FFFCF8;
    color: #210700;
    font-family: Inter;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 900;
    line-height: 0.875rem; /* 140% */
    padding: 10px;
}

#soegeResultater {
    position: absolute;
    z-index: 10;
    background-color: #FFFCF8;
    color: #210700;
    font-family: Inter;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem; /* 140% */
    margin: 34px 0px 0px 0px;
    width: 100%;
}

#soegeResultater li {
    padding: 15px;
}

#soegeResultater li a:hover {
    color: #72483C;
    font-weight: 900;
}


/* hero */
.hero {
    position: relative;
    width: 100%;
    height: 17.5rem;
    overflow: hidden;
    background-color: #D9C4B0;
}
.hero__billede__disktop {
    display: none;
}
.hero__billede__mobil {
    width: 100%;
    opacity: 0.3;
    display: block;
    position: absolute;
    object-fit: cover;
}
.hero__text {
    width: 100%;
    height: 17.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.hero__p {
    padding: 0rem 0rem 1rem 0rem;
}
/*forside design selv*/
.forside__designselv__tekst {
    margin: 30px 20px 15px 20px;
}
.forside__designselv__p {
    padding: 15px 0px;
}
.placeholder__forside__img {
    width: 100%;
    padding: 0px 20px 15px 20px;
}
/* forside butikken*/
.forside__butikken__img {
    width: 100%;
    padding: 0px 20px 15px 20px;
}
.forsiden__butikken__tekst {
    margin: 0px 20px 15px 20px;
}
.forside__butikken__p {
    padding: 15px 0px;
}

.forside__find-gavekurv{
    width:100%;
    height:500px;
    position:relative;
    background-color:#84917F;
    padding:2rem 0 0 1rem;
    margin-bottom:1.2rem;
    overflow-x:hidden;
}

.forside__find-gavekurv__h2{
    color:#FFFCF8;
    padding:0 5px 0 5px;
    margin-bottom:1rem;
}

.forside__find-gavekurv__galleri{
    height:75%;
    position: relative;
}

.forside__find-gavekurv__galleri::after{ /*denne fader billedet til højre*/
    content:"";
    position:absolute;
    top:0;
    right:0;
    width:40px;
    height:350px;
    pointer-events: none;
    background: linear-gradient(to right, #84917F00 0%, #84917FFF 100%);
}

.forside__find-gavekurv__liste{
    display:flex;
    gap: 1rem;
    list-style:none;
    transition: transform 0.4s ease;
    will-change: transform;
    flex-wrap: nowrap;

}

.forside__find-gavekurv__item{
    display: flex;
    min-width:250px;
    height:350px;
    overflow:hidden;
    flex-direction:column;
    background-color: #D9C4B0;
    border-radius:1rem;
    box-shadow: 0 4px 4px #615959;
    margin:1rem 0.5rem;
    
}

.forside__find-gavekurv__billede-wrapper{
    width:100%;
    height:80%;
    overflow:hidden;
}

.forside__find-gavekurv__billede-wrapper img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    padding:0;
    margin:0;
}

.forside__find-gavekurv__indhold{
    padding:1rem;
}

.forside__find-gavekurv__item h3{
    display:flex;
}

.forside__find-gavekurv__pris{
    display: flex;

}

.udforsk__knap{
    display: block;
    margin: 0 auto;
}

#galleri__prevButton,
#galleri__nextButton{
    position:absolute;
    top:92%;
    transform: translateY(-50%);
    background:none;
    border:none;
    font-size:2rem;
    color:#FFFCF8;
}

#galleri__prevButton:hover, 
#galleri__nextButton:hover{
    color:#210700;
}

#galleri__prevButton{
    left:1rem;
}

#galleri__nextButton{
    right:1rem;
}

/*-sek*/
.footer {
    background-color: #FFFEF9;
    border-top: 1px solid #FFFEF9;
    flex-grow: 1;
}

.footer-knap {
    display: flex;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    padding-left: 20px;
    margin: 0;
    font-size: 1rem;
    color: #000;
}

.footer-knap:hover {
    color: #72483C;
}


.kontakt_liwira,.span__knap.f{
    padding-top:30px;
}

.footer-checkbox {
    display: none;
}


.footer-checkbox:checked ~ .footer-indhold {
    display: block;
}


.footer-knap span {
    font-size: 1.5rem;
    margin-right: 10px;
    transition: transform 0.2s ease;
}


.footer-indhold {
    display: none;
    padding-left: 60px;
    font-size: 1.3rem;
    padding-top: 5px;
}

footer details[open] .footer-indhold {
    display: block;
}

.footer-indhold ul {
    list-style: none;
}

.footer-indhold ul li {
    margin-bottom: 8px;
}

.footer-indhold ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}

.footer-indhold ul li a:hover {
    text-decoration: none;
    color: #72483C;
}


.kontakt_liwira, .abningstider_liwira{
    font-family: Archivo;
    color:#000;
}


.footer_logo {
    width:150px;
    height: 40px;
    margin-top: 6%;
    margin-bottom: 5%;
    padding-left: 17px;
}


#cvr {
    margin-top: 20px;
    margin-bottom: 7%;
}


/*design selv kurv*/
.designselv{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap:2rem;
    background-color: rgba(217, 196, 176, 0.25);
}

.designselv__billede-container{
    text-align: center;
}

.dingavekurv__billede{
    max-width:100%;
    height:auto;
}

.designselv__valgt{
    background: #FFFCF8;
    padding:1.5rem;
    border-radius: 1rem;
}

.designselv__items{
    list-style: none;
    padding:0;
}

.designselv__items li{
    display: flex;
    justify-content: space-between;
    margin:0.5rem;
    border-bottom: 1px solid #210700;
}

/* designselv menu*/
.designselv__menu__button {
    color: #72483C;
    font-family: Inter;
    font-size: 0.55rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem; /* 140% */
    background-color: transparent;
    height: 30px;
    width: auto;
    margin: 5px;
}

.designselv__menu__button:hover {
    font-weight: 900;
    background-color: transparent;
}

.designselv__menu {
    background-color: #FFFCF8;
    border-bottom: 0.5px solid #72483C;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
}


@media (min-width: 600px) {
    
    h1 {
        color: #000;
        font-family: Merriweather;
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    h2 {
        color: #210700;
        font-family: Merriweather;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    h3 {
        color: #210700;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    p {
        color: #210700;
        font-family: Inter;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; /* 150% */
    }
    button {
        width: 130px;
        height: 39px;
        font-size: 0.8rem;
    }
    /* hero */
    .hero {
        height: 27rem;
    }
    .hero__text {
        width: 100%;
        height: 27rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
    }

    /*designselv kurv*/
    .designselv{
        flex-direction: row;
        align-items: flex-start;
    }

    .designselv__billede-container, .designselv__indhold{
        flex:1;
    }

    /* designselv menu*/
    .designselv__menu__button {
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1rem; /* 150% */
        background-color: transparent;
        height: 30px;
        width: auto;
        margin: 20px;
    }
    
}
@media (min-width: 1024px) {
    h1 {
        color: #000;
        font-family: Merriweather;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    h2 {
        color: #210700;
        font-family: Merriweather;
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    h3 {
        color: #210700;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    p {
        color: #210700;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem; /* 150% */
    }
    button {
        width: 200px;
        height: 59px;
        font-size: 1rem;
    }
    /*header*/
    .top__logo__img {
        width: 182px;
        height: 53px;
        margin-top: 18px;
    }
    
    .header__top__logo {
        display: flex;
        justify-content: center;
    }
    
    .header__top {
        background: #84917F;
        width: 100%;
        height: 90px;
    }
    
    .header__desktop {
        display: block;
    }
    
    .header__mobil__bottom {
        display: none;
    }

    .header__mobil__top {
        display: none;
    }

    .header__desktop__bottom {
        width: 100%;
        height: 50px;
        background: #D9C4B0;
    }
    .nav__desktop__li:hover {
        color: #72483C;
        font-weight: 900;
    }
    .header__desktop__nav {
        align-items: center;
        color: #000;
        font-family: Inter;
        font-size: 0.9rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 50px ;

    }
    .nav__desktop__dropdown {
        position: relative;
    }
    .desktop__dropdown__link:hover {
        color: #72483C;
        font-weight: 900;
    }
    .header__desktop__ul {
        display: flex;
        gap: 30px;
        margin-top: 15px;
    }
    
    .desktop__dropdown__ul {
        display: none;
        position: absolute;
        z-index: 10;
        border-radius: 1.25rem;
        font-size: 0.8rem;
    }
    .desktop__dropdown__li {
        padding: 5px 0px;
    }
    .desktop__dropdown__link:hover {
        color: #72483C;
        font-weight: 900;
    }
    .nav__desktop__dropdown:hover .desktop__dropdown__ul {
        display: block;
    }

    .header__desktop__bottom {
        display: flex;
        justify-content: space-between;
    }

    .header__desktop__left {
        width: 60px;
        margin: 60px 0px 0px 0px;
    }

    .header__desktop__ikoner {
        display: flex;
    }

    .desktop__kurv__img {
        width: 100%;
        margin: 8px 0px 0px 0px;
    }

    .desktop__ikoner__kurv {
        width: 30px;
        height: 40px;
        margin: 0px 60px 0px 20px;
    }

    #soegefeltButtonDesktop {
        background-color: transparent;
        width: 30px;
        height: 40px;
    }
    
    .soegefeltBilledeDesktop {
        width: 100%;
        margin: 8px 20px 0px 0px;
    }
    
    .header__top {
        display: flex;
        justify-content: space-around;
    }
    
    #lukKnapDesktop {
        background-color: transparent;
        position: absolute;
        z-index: 100;
        border-radius: 0px;
        color: #210700;
        margin: 0px 90%;
        height: 50px;
        width: 10px;
    }
    
    #indputFeltDesktop {
        position: absolute;
        border: #210700;
        width: 100%;
        z-index: 10;
        background-color: #FFFCF8;
        color: #210700;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 900;
        line-height: 0.875rem; /* 140% */
        padding: 10px;
    }
    
    #soegeResultaterDesktop {
        position: absolute;
        z-index: 10;
        background-color: #FFFCF8;
        color: #210700;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 0.875rem; /* 140% */
        margin: 34px 0px 0px 0px;
        width: 100%;
    }
    
    #soegeResultaterDesktop li {
        padding: 15px;
    }
    
    #soegeResultaterDesktop li a:hover {
        color: #72483C;
        font-weight: 900;
    }    

    /* hero */
    .hero__billede__mobil {
        display: none;
    }
    .hero__billede__disktop {
        width: 100%;
        opacity: 0.3;
        display: block;
        position: absolute;
        object-fit: cover;
    }
    .hero {
        height: 39rem;
    }
    .hero__text {
        width: 100%;
        height: 27rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 60px;
    }

    /*forside designselv*/

    .forside__designselv {
        display: flex;
        padding: 30px 60px 30px 60px;
        align-items: center;
    }

    .forside__designselv__video {
        width: 50%;
    }

    .forside__designselv__tekst {
        width: 50%;
    }

    /* forside butikken*/

    .forside__butikken {
        display: flex;
        padding: 30px 60px 30px 60px;
        align-items: center;
    }

    .forside__butikken__img {
        width: 50%;
    }

    .forsiden__butikken__tekst {
        width: 50%;
    }

    /* designselv menu*/
    .designselv__menu__button {
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875rem; /* 150% */
        background-color: transparent;
        height: 30px;
        width: auto;
        margin: 20px;
    }


    /* footer */

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        background-color: #f9f9f9;
        font-family: Arial, sans-serif;
        color: #000;
    }
    
    .footer-sektion:last-child {
        margin-right: 0;
    }

    .footer-knap{
        padding-top:15px;
    }

    .kontakt_liwira,.abningstider_liwira{
        font-size: 19px;
        font-weight: bold;
        color: #000;
        margin-bottom: 10px;
        padding-top:50px;
        padding-left:40px;
        
    }
    .footer-knap span {
        display: none;
    }   
    
    .footer-indhold {
        display: block; 
    }
    
    .footer-indhold ul {
        list-style: none;
        padding: 0;
    }
    
    .footer-indhold ul li {
        margin-bottom: 8px;
    }
    
    .footer-indhold ul li a {
        text-decoration: none;
        color: #000;
    }
    
    .kontakt {
        text-align: left;
        font-size: 16px;
        gap:5px;
    }
    
    .kontakt p {
        padding-top:10px;
        margin: 0;
    }
    
    .footer_logo {
        width: 200px;
        height:70px;
        padding-top:40px;
        padding-bottom:10px;
        margin:20px 0 7px 0;
    }
    
}
